#background {
  background-image: url('/assets/nyc.jpg');
  height: 1025px;
}

#info {
  position: absolute;
  top: 1040px;
  width: 90%;
  left: 5%;
  background: white;
  z-index: 1000;
  border-radius: 25px;
}

#info info-circle {
  height: 400px;
}


#circles {
  width: 100%;
  text-align: center;
}

#container {
  background-color: #cccccc;
  height: 2000px;
}
