<md-card class="station" md-theme="default" md-theme-watch>
    <md-card-header>
		    <md-card-title>{{ station.station_name }}</md-card-title>
        <md-card-subtitle>{{ station.st_address_one }}<br>{{ station.st_address_two }}</md-card-subtitle>
    </md-card-header>
  <img md-card-image src="http://www.bicycling.com/sites/bicycling.com/files/styles/list_teaser_custom_user_desktop_1x/public/main_image.png?itok=l-tvA4QF&timestamp=1466082594">
  <md-card-content>
    <p>Here is some more content</p>
  </md-card-content>
</md-card>
