<md-toolbar color="primary">
  <button md-icon-button (click)="start.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <span>Citibike Planner</span>
  <span class="space-filler"></span>
  <span>
    <button md-icon-button [md-menu-trigger-for]="profileMenu">
    <md-icon>account_circle</md-icon>
    </button>
    <md-menu x-position="before" #profileMenu="mdMenu">
      <button [routerLink]="['/user/sign-in']" md-menu-item *ngIf="!loggedIn">Sign In</button>
      <button [routerLink]="['/user/sign-up']" md-menu-item *ngIf="!loggedIn">Sign up</button>
      <button md-menu-item *ngIf="loggedIn">Settings</button>
      <button md-menu-item *ngIf="loggedIn">Sign Out</button>
    </md-menu>
  </span>
</md-toolbar>

<md-sidenav-layout>
  <md-sidenav #start (open)="mybutton.focus()">
    <md-list>
      <md-list-item>
        <a [routerLink]="['/']">Home</a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/map']">Map</a>
      </md-list-item>
      <md-list-item>
        <a [routerLink]="['/stations']">Stations</a>
      </md-list-item>
    </md-list>
    <button md-button #mybutton (click)="start.close()">Close</button>
  </md-sidenav>
  <md-sidenav #end align="end">
    End Sidenav.
    <button md-button (click)="end.close()">Close</button>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-layout>
