<md-toolbar color="primary">
  <button md-button (click)="start.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <span>Citibike Planner</span>
</md-toolbar>

<md-sidenav-layout>
  <md-sidenav #start (open)="mybutton.focus()">
    <md-list>
      <md-list-item>
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/map']">Map</a>
        <a [routerLink]="['/stations']">Stations</a>
      </md-list-item>
    </md-list>
    <button md-button #mybutton (click)="start.close()">Close</button>
  </md-sidenav>
  <md-sidenav #end align="end">
    End Sidenav.
    <button md-button (click)="end.close()">Close</button>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-layout>
