md-sidenav {
  display: inline-block;
  float: left;
  height: 100%;
}

body {
  min-height: 100vh;
}

.space-filler {
  flex: 1 1 auto;
}


md-sidenav-layout {
  min-height: 100vh;
  height: 100%;
}

#footer {
  margin-top: 20px;
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 100%;
  background-color: #cccccc;
  text-align: center;
}
