<!--<sebm-google-map-->
  <!--[latitude]="40.7128"-->
  <!--[longitude]="-74.0059"-->
  <!--[style.height]="mapHeight()"-->
  <!--[zoom]="16">-->

  <!--<sebm-google-map-marker-->
    <!--*ngFor="let m of stations; let i = index"-->
    <!--(markerClick)="clickedStation(m.id, i)"-->
    <!--[latitude]="m.latitude"-->
    <!--[longitude]="m.longitude">-->

    <!--<sebm-google-map-info-window #infopane>-->
      <!--<strong>{{ currStation().station_name }}</strong>-->
      <!--<br>-->
      <!--<strong>Available Bikes: </strong>-->
      <!--<p>{{ currStation().available_bikes }}</p>-->
    <!--</sebm-google-map-info-window>-->
  <!--</sebm-google-map-marker>-->
<!--</sebm-google-map>-->

<div id="toggleButtons">
  <button md-button id="toggleBike" class="toggleButton">Bikes</button>
  <button md-button class="toggleButton">Docks</button>
</div>

<div id="mapid"></div>

