<md-card id="stationCard" class="station" md-theme="default" md-theme-watch>
  <md-card-header>
    <button md-icon-button class="close-card-button" (click)="closeCard()" ><md-icon>close</md-icon></button>
    <md-card-title>{{ station.station_name }}</md-card-title>
    <md-card-subtitle>{{ station.st_address_one }}<br>{{ station.st_address_two }}</md-card-subtitle>
  </md-card-header>
  <img md-card-image *ngIf="showingStreetView" [src]='getImageUrl()' />
  <canvas #myChart baseChart width="400"
    [datasets]="chartData"
    [labels]="getChartLabels()"
    [chartType]="chartType"></canvas>
  <md-card-content>
    <p>Here is some more content</p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="showStreetView()">Street View</button>
  </md-card-actions>
</md-card>
