<md-card class="login-form">
  <md-card-content>
    <form #myForm>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <br>
        <md-input [(ngModel)]="data.password" name="password" type="password" id="passwordInput" required></md-input>
      </div>
      <div class="form-group">
        <label for="passwordConfirmationInput">Password Confirmation</label>
        <br>
        <md-input [(ngModel)]="data.passwordConfirmation" name="passwordConfirmation" type="password" id="passwordConfirmationInput" required></md-input>
      </div>

      <button md-button (click)="submit()" type="submit">Submit</button>
      <div>
        <p *ngIf="error">{{ errorMessage }}</p>
      </div>
    </form>
  </md-card-content>
</md-card>
